*{
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background: #faf0d7;
	font-family: Helvetica, Arial, sans-serif;
}

.wrapper{
	min-height: 100vh;
  }

.homeScreen {
	position: relative;
	margin: 10% auto;
}

.howToPlayScreen, .gameScreen {
	position: relative;
	display: none;
}

.header {
	text-align: center;
}

.header h1 {
	font-family: Lobster;
	font-size: 100px;
}

.gameScreen .header h1 {
	margin-top: 0;
	margin-bottom: 20px;
}

.newGameBtn, .howToPlayBtn, .goBackToHomeBtn {
	font-family: GoodDog;
	color: #000;
	background: #8cc0de;
	border: none;
	width: 250px;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 50px;
	cursor: pointer;
}

.newGameBtn:hover, .howToPlayBtn:hover, .goBackToHomeBtn:hover, #restartGameBtn:hover, #endGameBtn:hover {
	background: #f4bfbf;

}

.playgame {
	text-align: center;
	width: 100%;
	margin: 100px auto;
}

.howtoplayheading {
	font-size: 30px;
	font-family: GoodDog;
	font-weight: bold;
}

.howtoplay p {
	font-family: GoodDog;
	font-size: 26px;
}

#timerrestartendgame {
	width: 530px;
	margin: 0 auto;
	text-align: center;
}

.timer {
	font-family: GoodDog;
	font-size: 30px;
	background: #8cc0de;
	border-radius: 5px;
	padding: 5px 5px;
	width: 125px;
	display: inline-block;
	color: #000;
	margin: 0 2px;
}

.restart, .endgame {
	font-family: GoodDog;
	font-size: 30px;
	cursor: pointer;
	background: #8cc0de;
	border-radius: 5px;
	padding: 5px 5px;
	width: 125px;
	display: inline-block;
	color: #000;
	margin: 0 2px;
}


#game {
	display: grid;
	width: 470px;
	margin: 0 auto;
	padding: 10px;
}

.gamegrid .card {
	margin: 5px;
	height: 100px;
	width: 100px;
	float: left;
	cursor: pointer;
	border-radius: 0.25rem;
}

.gamegrid .cardFront, .gamegrid .cardBack {
	width: 100px;
	height: 100px;
}

.playAgainBtn {
	color: #000;
	background: #8cc0de;
	border-radius: 5px;
	padding: 8px;
	height: 36px;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
}

.playAgainBtn:hover {
	color: #000;
	background: #faf0dc;
	cursor: pointer;
}

#winner {
	display: none;
}

.winner {
	font-family: GoodDog;
	width: 90vw;
	max-width: 400px;
	box-shadow: 0 4px 23px #0003;
	padding: 15px 15px;
	border-radius: 5px;
	background: #ffd9c0;
	color: #000;
	position: absolute;
	pointer-events: auto;
	text-align: center;
	top: 50%;
    left: 0;
    right: 0;
    margin: auto;
	transform: translateY(-50%);
}

.cardFront,.cardBack {
	box-sizing: border-box;
	border-radius: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);	
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: #f4bfbf;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.5s ease;
}

.cardFront {
	font-weight: bold;
	font-size: 40px;
	transform: perspective(1000px) rotateY(0deg);
}

.cardBack {
	transform: perspective(1000px) rotateY(180deg);
}

.cardBack.flipped {
	background: #42BAFB;
	transform: perspective(1000px) rotateY(0deg);
	
}

.cardFront.flipped {
	transform: perspective(1000px) rotateY(-180deg);
}

@media only screen and (max-width: 450px)
{
	.header h1
	{
		font-size: 40px;
	}
	#timerrestartendgame
	{
		width: 100%;
	}
	#game
	{
		width: 100%;
		padding: 10px 0;
	}
	.gamegrid .card
	{
		width: 90px;
		height: 90px;
	}
	.gamegrid .cardFront, .gamegrid .cardBack
	{
		width: 90px;
		height: 90px;
	}
	.cardBack img
	{
		width: 80px;
		height: 80px;
	}
	.timer
	{
		width: 125px;
	}
}


@media only screen and (max-width: 420px) {
	.gamegrid .card{
		width: 55px;
		height: 55px;
	}

	.gamegrid .cardFront, .gamegrid .cardBack {
		width: 55px;
		height: 55px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.cardBack img {
		width: 48px;
		height: 48px;
	}

	.timer, .restart, .endgame {
		width: 120px;
	}
}
@media only screen and (min-width: 412px) and (max-width: 414px) {
	.gamegrid .card{
		width: 86px;
		height: 86px;
	}

	.gamegrid .cardFront, .gamegrid .cardBack {
		width: 86px;
		height: 86px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.cardBack img {
		width: 83px;
		height: 83px;
	}

	.timer, .restart, .endgame {
		width: 120px;
	}
}
@media only screen and (max-width: 400px) {
	.gamegrid .card{
		width: 81px;
		height: 81px;
	}
	.gamegrid .cardFront, .gamegrid .cardBack {
		width: 81px;
		height: 81px;
	}
	.cardBack img {
		width: 76px;
		height: 76px;
	}
	.timer, .restart, .endgame {
		width: 115px;
	}
}

@media only screen and (max-width: 385px) {
	.gamegrid .card{
		width: 80px;
		height: 80px;
	}
	.gamegrid .cardFront, .gamegrid .cardBack {
		width: 80px;
		height: 80px;
	}
	.cardBack img {
		width: 70px;
		height: 70px;
	}
	.timer, .restart, .endgame {
		width: 110px;
	}
}
@media only screen and (max-width: 380px) {
	#game{
		padding: 10px 4px;
	}
	.gamegrid .card {
		width: 75px;
		height: 75px;
	}
	.gamegrid .cardFront, .gamegrid .cardBack {
		width: 75px;
		height: 75px;
	}
	.cardBack img {
		width: 70px;
		height: 70px;
	}
}
@media only screen and (max-width: 370px) {
	.gamegrid .card{
		width: 70px;
		height: 70px;
	}
	.gamegrid .cardFront, .gamegrid .cardBack {
		width: 70px;
		height: 70px;
	}
	.cardBack img{
		width: 70px;
		height: 70px;
	}
}
@media only screen and (max-width: 365px) {
	.timer, .restart, .endgame {
		width: 105px;
	}
}
